/**
 * Mods by 3 Mules : justin@3mules.coop
 */


/**
 * Search page
 */
.view-id-Search .views-exposed-widget {
  float: left;
}

.view-id-Search .views-widget-filter-keys,
.view-id-Search .views-widget-filter-uid {
  margin-right: 20px;
}


/**
 * Add/edit form for the Words content type.
 */
#word-paste-hint {
/*  font-weight: bold; */
  font-size: 100%;
  color: maroon;
}

.node-form .body-field-wrapper {
  margin-top: 2.5em;
}

#download-pdf-version-container {
  padding: 5px 0;
}

#download-pdf-version-link {
  font-size: 125%;
}

/**
 * tinymce
 * Not actually page specific but leaving in this file for now anyway.
 */
.mceContentBody,
#tinymce {
  background: transparent;
}
